/* 初始化 */
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}
/* 网页背景 */
body{
    width:100%;
    background-color: #6f6f8f;
}
/* 页头 */
header{    
    position: fixed;
    background-color:black;
    width:100%;
    height:10vh;
    z-index: 2;
    opacity: 0.8;
}
/* 页头logo */
header h1{
    display: inline-block;
    width:auto;
    height: 100%;
    color:white;
    font-weight: lighter;
    padding-top: 2vh;
    margin-left: 1vw;
}
/* >=450px */
@media (max-height:450px){
    header h1{padding-top: 0;}
}
/* >=350px */
@media (max-height:350px){
    header h1{color: transparent;}
}
/* 页头导航栏 */
header nav{
    height:10vh;
    width:auto;
    float: right;
    margin-right: 1vw;
    border: none;
}
/* 页头导航栏链接 */
header nav a{
    position: relative;
    display: inline-block;
    width:auto;
    height:5vh;
    padding-bottom: 1vh;
    text-align: center;
    font-size: x-large;
    overflow: hidden;
    margin-top: 2vh;
    padding-left: 1vw;
    padding-right: 1vw;
    color: white;
}
header nav a:hover{
    background-color: white;
    color:gray;
}
/* >=570px */
@media (max-height:570px){
    header nav a{overflow: inherit;padding: 0;margin: 0;}
}
/* >=330px */
@media (max-height:330px){
    header nav a{color: transparent;}
    header nav a:hover{color: transparent;background-color: transparent;}
}
/* 页头后填充 */
#air{
    width: 100%;
    height: 15vh;
}
/* 问卷背景 */
main{
    width:90%;
    height:auto;
    background-color: #e6e6e6;
    box-shadow: 10px 10px 10px black,
    inset 10px 10px 10px white;
    position: absolute;
    left:5%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
}
/* 问卷页尾 */
#main-footer{
    width:100%;
    height: auto;
    background-color: #6145eb;
}
/* 问卷标题 */
h1#title{
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 50px;
    background-color: #c076df;
    color: white;
    padding-top:5vh ;
    padding-bottom: 5vh;
    text-shadow: 3px 3px 0px #55396f;
}
/* 填写提示 */
#ts-one{
    position: relative;
    width: 100%;
    background-color: #55396f;
    color: white;
    text-align: center;
    font-size: 20px;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 2vw;
    padding-right: 2vw;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#ts-one b{
    color:yellow;
}
/* 分隔线 */
hr{
    width: 90%;
    height: 3px;
    background-color: gray;
    margin-left: 5%;
    border-radius: 2px;
    border: none;
}
/* 填写模块 */
fieldset{
    position: relative;
    width:90%;
    height:auto;
    margin-left: 5%;
    padding-top: 3vh;
    padding-bottom: 3vh;
    border: #6f6f8f 2px solid;
    border-radius: 5px;
}
/* 模块标题 */
h2.mk-title{
    width: 100%;
    text-align: center;
    color: #6145eb;
    padding-top: 2vh;
    padding-bottom: 2vh;
}
/* 模块限制输入框 */
.person-input-border{
    width:80%;
    height:auto;
    padding: 1vh;
    margin-left: 10%;;
}
/* 内联元素 */
label{
    width: 100%;
    padding-bottom: 1vh;
    padding-top: 1vh;
}
/* 输入框 */
input[class=enter]{
    width: 100%;
    border: none;
    border-bottom: #6145eb solid 2px;
    background-color: transparent;
    color: #6145eb;
    margin-top: 1vh;
    margin-bottom: 1vh;
}
input.enter:focus{
    border: #c076df 2px solid;
    background-color: white;
}
/* 选择框 */
select{
    width: 100%;
    border: none;
    border-bottom: #6145eb solid 2px;
    background-color: transparent;
    color: #6145eb;
}
/* 大型输入框 */
textarea{
    width:80%;
    height:20vh;
    background-color: whitesmoke;
    resize: none;
    margin-left: 10%;
    color: #6145eb;
    padding: 5px;
    border-radius: 10px;
    border: #6145eb solid 2px;
}
textarea::-webkit-scrollbar{
    display: none;
}
/* 阅读协议提问 */
.xieyi-title{
    width: 100%;
    text-align: center;
    margin-top: 1vh;
    margin-bottom: 1vh;
}
/* 用户协议 */
#person-xieyi{
    width: 100%;
    color: #6145eb;
    text-align: center;
}
#person-xieyi-a{
    font-size: larger;
    margin-left: 1vw;
    margin-right: 1vw;
}
#person-xieyi-a:hover{
    background-color: #6145eb;
    color: yellow;
}
/* 阅读协议选项 */
#yuedu{
    margin-left: 1vw;
}
#xieyi{
    margin-left: 1vw;
}
/* 提交按钮 */
.submit{
    width: 50%;
    height:10vh;
    margin-bottom:50px;
    margin-top: 30px;
    margin-left: 25%;
    border:3px solid black;
    border-radius: 50px;
    background-color: skyblue;
    color:white;
    font-size: 25px;
    opacity: 0.75;
}
.submit:hover{
    border-radius: 20px;
    background-color: rgb(58, 174, 220);
    font-size: 30px;
    opacity: 1;
}
/* 声明 */
#shengming{
    width: 100%;
    color: white;
    text-align: center;
}
/* 
i.text-svg{
    width: 2vh;
    height: 2vh;
    font-size: 50%;
}
i#title-svg{
    color: white;
    padding-left: 1vw;
}
.tishi{
    margin-left: 25%;
    padding:10px;
    width: 50%;
    text-align: center;
    font-family: monospace,sans-serif;
    color:white;
    font-weight: bold;
    background-color: #6b6b89;
    margin-bottom: 20px;
}
textarea::-webkit-scrollbar{
    width: 5%;
    background-color: white;
}
textarea::-webkit-scrollbar-thumb{
    background-color: #808090;
} 
*/